@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Couleur à essayer : "31A884" */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #f4f4ff;
}
header {
  width: 100%;
}

.main-navlinks {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  background-color: #fafafa;
  position: fixed;
  box-shadow: inset 0px -1px 0px #c5c5c6;
}

.container-links a {
  text-decoration: none;
  color: #111;
  font-weight: 500;
  font-size: 1.1rem;
  display: inline-block;
  position: relative;
}

.container-links a::after {
  content: "";
  display: block;
  position: absolute ;
  bottom: 3px;
  width: 100%;
  height: 1px;
  background: #333;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-out;
}

.container-links a:hover::after { 
  transform: scaleX(1);
}

.container-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  text-decoration: none;
}

#logo {
  margin: 15px auto 15px 50px;
}
#logo img {
  display: flex;
  width: 65px;
  height: 55px;
}

#don {
  background: #00DD00;
  padding-top: 8px;
  margin: 15px 40px 15px auto;
}

#don a {
  text-decoration: none;
  color :#111;
  font-family: 1.1rem;
}

#don a:hover {
  color: #fafafa;
  transition: 0.4s;
}

.hamburger {
  display: none;
}

.donate-button {
  display: none;
}

h1 {
  font-size: 2.8rem;
}
#textprincipal {
  /* display: flex; */
  text-align: center;
  padding-top: 130px;
  /* font-size: 1.2rem; */
}

h3 {
  font-weight: 500;
  font-size: 1.3rem;
  text-decoration:underline;
  font-style: italic;
}
/* ***********HOME********** */

/* h1 {
  font-size: 3rem;
  font-weight: 500;
} */
/* #home {
  background: url(./image/photos/children-5833685_1280.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 120px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

/* #bouton {
  text-align: center;
  position: relative;
  bottom: 70px;
  background: #f3ca8e;
  padding: 12px 18px;
  width: 145px;
} */
/* #bouton a {
  text-decoration: none;
  color: #111;
} */

/* #home h3 {
  font-style: italic;
  font-weight: normal;
  text-decoration: underline;
  font-size: 1.5rem;
} */

/***********ABOUT********* */

#about {
  /* background-color: #e9ecf0; */
  height: 70vh;
  display: flex;
}

.imglocal {
  width: 70%;
  display: flex;
  align-items: center;
}
.imglocal img {
  height: 90%;
  padding-left: 110px;
  border-radius: 10px;
  opacity: 1;
}
#TextIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 0 50px 0 0;
  width: 70%;
}
#TextIntro h2 {
  text-decoration: underline;
  font-size: 1.8rem;
}
.minititle {
  font-weight: bold;
}
#TextIntro p {
  font-size: 1.2rem;
  width: 40%;
}

/* *************Actions******* */

#actions {
  background-color: #4bcca5;
  min-height: 100vh;
}

.Texteprincipal2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.Texteprincipal2 h2 {
  padding: 30px 0 0 0;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: underline;
}

#actions h3 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  width: 100%;
}
.matxt span {
  font-weight: bold;
}

.txt-present span {
  font-weight: 500;
}

#aides h3 {
  margin: 30px auto;
  text-decoration: underline;
  text-align: center;
  font-weight: bold;
}
.matxt {
  text-decoration: underline;
}
/* ************GALERY************ */
.gallery {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 65px 0 65px;
}

.gallery li {
  list-style-type: none;
  height: 600px;
  flex-grow: 1;
}
.gallery img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery2 {
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  gap: 30px;
  padding: 5px 65px 30px 65px;
}

.gallery2 li {
  list-style-type: none;
  height: 600px;
  flex-grow: 1;
}
.gallery2 img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#contact {
  background-color: #e9ecf0;
  min-height: 50vh;
}
#contact h2 {
  text-align: center;
  text-decoration: underline;
  padding: 50px 0 25px 0;
}

.container-contact {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 50px 30px;
}

.container-contact p {
  font-size: 1.4rem;
}

.container-contact span {
  text-decoration: underline;
}

/************FOOTER********/
* footer {
  background-color: #8f8672;
  color: whitesmoke;
  text-align: center;
}

footer h2 {
  padding: 20px 0;
}

.container-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-bottom: 30px;
  font-size: 1.2rem;
}

.container-container span {
  font-size: 1.4rem;
  text-decoration: underline;
}
.container-container a {
  text-decoration: none;
  color: whitesmoke;
}
.container-site {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3px;
}

.container-missions {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.container-sociaux {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

#trait {
  height: 1px;
  width: 75%;
  background-color: whitesmoke;
  margin: 10px auto;
}
.Copyrightandicons {
  display: flex;
  margin-bottom: 20px;
  padding: 20px 10%;
}

#Copyright {
  width: 50%;
  text-align: left;
  color: whitesmoke;
}

#Copyright span {
  font-size: 1.1rem;
}

#icons {
  width: 50%;
  text-align: right;
}

#icons a {
  display: inline-block;
  margin: 0 15px;
  font-size: 1.4rem;
  color: whitesmoke;
}

#icons a:hover {
  transform: scale(1.5);
  transition: 0.3s;
}

/* ***************RESPONSIVE***************************************************************************** */
@media (max-width: 990px) {
  .main-navlinks {
    position: relative;
    overflow: visible;
  }
  #logo {
    margin: 10px auto;
  }
  #logo img {
    width: 58px;
    height: 46px;
  }
  #don {
    display: none;
  }
  #logo {
    order: 2;
  }

  .container-links {
    order: 1;
  }

  .donate-button {
    display: flex;
    order: 3;
    margin: auto 15px;
  }

  img {
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  .hamburger {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    display: flex;
    background: #dcdcce;
    align-items: center;
    position: relative;
    margin: auto 34px;
  }

  .hamburger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #333;
    position: absolute;
    pointer-events: none;
    transition: opacity 0.3s 0.15s ease-out;
  }
  .hamburger span:nth-child(1),
  .hamburger span:nth-child(3) {
    transition: transform 0.3s ease-out;
  }

  .hamburger span:nth-child(1) {
    transform: translateY(7px);
  }
  .hamburger span:nth-child(3) {
    transform: translateY(-7px);
  }

  .hamburger.open {
    display: none;
  }
  .close-button {
    height: 20px;
    width: 20px;
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    /* top: 4px; */
    left: 10px;
    margin: auto 34px;
  }

  .close-button:before,
  .close-button:after {
    position: absolute;
    /* left: 10px; */
    content: " ";
    height: 23px;
    width: 2px;
    background-color: #000000;
  }
  .close-button:before {
    transform: rotate(45deg);
  }
  .close-button:after {
    transform: rotate(-45deg);
  }

  .close-button.open {
    display: block;
  }

  .main-navlinks {
    background-color: #e9ecf0;
  }
  .main-navlinks a {
    font-size: large;
    position: relative;
  }

  .container-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 90px;
    height: 100vh;
    width: 100%;
    top: 100%;
    padding: 60px 50px 15px 30px;
    background-color: #e9ecf0;
    position: absolute;
    transform: translate(-100%);
    /* transition: transform 0.3s ease-out; On a mis la transition en JavaScript, elle est donc inutile ici  */
  }

  .container-links.open {
    transform: translate(0%);
  }
  .container-links a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -30px;
    width: 870px;
    height: 1px;
    background-color: #333;
  }

  .container-links a:hover {
    color: #8f8672;
  }

  body.navbar-open {
    overflow: hidden;
    pointer-events: none;
  }
  /* Cette ligne permet d'empêcher le scroll ainsi que le click sur toute la page quand la navbar est ouverte */
  /* body.navbar-open > *:not(.main-navlinks) {
    pointer-events: none;
  } */
  /* Cette ligne permet de spécifier que la navbar est exclue de cette interdiction du click (en théorie même si je n'en vois pas les résultats)*/
  .main-navlinks.open {
    pointer-events: auto;
    opacity: 1;
  }
  /* Cette ligne permet de clicker sur la navbar et de passer son opacité à un lorsqu'elle est ouverte*/

  /* *****************************HOME-RESPONSIVE*********************************************** */
  #home h1 {
    font-size: 2.5rem;
  }
  #home h3 {
    font-size: 1.5rem;
  }

  #textprincipal {
    margin-top: -50px;
  }

  body.navbar-open #bouton {
    z-index: -1;
  }
  /* Cette ligne ci-dessus permet de passer en arrière-plan le bouton "En savoir plus" durant l'affichage de la navBar */

  /* *****************ABOUT-RESPONSIVE************************************ */
  #TextIntro {
    width: 70%;
  }
}
